{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleAdmin.css') }}">

{% endblock %}


{% block contentAdmin %}

    <div class="container-fluid container-admin">
        <div class="row row-admin d-flex">

            {% block menuAdmin %}

                <div class="col-3 menu-vertical">
                    <h1 class="menu-vertical-titre">Menu</h1>
                    <div class="d-flex flex-column">
                        <div class="btn-group m-3">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Produits
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('product_index') }}">Liste Produits</a>
                                <a class="dropdown-item" href="{{ path('product_new') }}">Créer un nouveau produit</a>
                                <a class="dropdown-item" href="{{ path('category_index') }}">Liste Catégories</a>
                                <a class="dropdown-item" href="{{ path('category_new') }}">Créer une nouvelle
                                    catégorie</a>
                                <a class="dropdown-item" href="{{ path('taille_index') }}">Liste Tailles</a>
                                <a class="dropdown-item" href="{{ path('taille_new') }}">Créer une nouvelle taille</a>
                            </div>
                        </div>
                        <div class="btn-group m-3">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Employés
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('index_user') }}">Liste</a>
                                <a class="dropdown-item" href="{{ path('create_user') }}">Créer un nouvel employé</a>
                            </div>
                        </div>
                        <div class="btn-group m-3">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Exports
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('export_commandes') }}">Export commandes</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endblock %}

            <div class="col-9">
                <div class="admin-content">
                    {% block contentAdmincontent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}