{% extends 'base.html.twig' %}

{% block body %}

    <div class="container container-bloc-home">

        <div class="package-front">
            <h1 class="package--front--title">{{ user.firstname }} {{ user.lastname }}, il est temps de préparer votre
                paquetage</h1>
            <div class="">
                <div class="container product--list">
                    <div class="row">
                        <div class="col-1">#</div>
                        <div class="col-5">Libellé</div>
                        <div class="col-2">Taille</div>
                        <div class="col-2">Quantité</div>
                        <div class="col-1">Ajouter</div>
                    </div>
                    {% for produit in produits %}
                        <div class="row">
                            <div class="col-1">#</div>
                            <div class="col-5 form-product" data-productid="{{ produit.id }}">{{ produit.name }}</div>
                            <div class="col-2 form-product-taille">
                                <select class="custom-select">
                                    {#<option>tailles</option>#}
                                    {% for taille in produit.tailles %}
                                        <option class="form-product-taille-option"
                                                value="{{ taille.id }}">{{ taille.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2 form-product-qty">
                                <input type="number" class="form-product-qty-value form-group"
                                       id="quantity" placeholder="0" required>
                            </div>
                            <div class="col-1 custom-control custom-checkbox">
                                <input type="checkbox" class="form-product-check" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="container product--select">
                    <div class="row">
                        <div id="panier" class="">
                            <h6>Vous avez choisi ces vêtements</h6>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Produit</th>
                                    <th scope="col">Taille</th>
                                    <th scope="col">Qté</th>
                                </tr>
                                </thead>
                                <tbody class="panier--product">
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <a href="{{ path('panier') }}" class="btn btn-success pull-right">Valider</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            let addProduct = {
                idPdt: null,
                taille: null,
                qty: null
            };
            let cart;
            // productname.each(function(index) {
            //     var productid = $(this).data('productid');
            //     array.push(productid);
            // });
            $(".form-product-check").change(function () {
                let isChecked = $(this).is(":checked");
                if (isChecked) {
                    addProduct.idPdt = $(this).parent().parent().children('.form-product').data('productid');
                    addProduct.qty = $(this).parent().parent().children('.form-product-qty')
                        .children('input#quantity').val();
                    addProduct.taille = $(this).parent().parent().children('.form-product-taille')
                        .children('select.custom-select').val();
                    $.ajax({
                        url: '{{ path('package') }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'addProduct': addProduct, 'cart': cart},
                        success: function (data) {
                            let idPdtCart = data['addPdtId'];
                            let qtyCart = data['addPdtQty'];
                            let tailleCart = data['addPdtTaille'];
                            let libellePdtCart = data['addPdtLibelle'].replace(/"/g, "");
                            let libelleTailleCart = data['addPdtTailleLibelle'].replace(/"/g, "");
                            $('.panier--product').append("<tr class=idpdt-" + idPdtCart + "><th scope=\"row\">2</th>" +
                                "<td>" + libellePdtCart + "</td>" +
                                "<td>" + libelleTailleCart + "</td>" +
                                "<td>" + qtyCart + "</td>\n" +
                                "</tr>");
                        }
                    })
                } else {
                    let lessProduct = {
                        idPdt: null,
                        taille: null,
                        qty: null
                    };
                    lessProduct.idPdt = $(this).parent().parent().children('.form-product').data('productid');
                    lessProduct.qty = $(this).parent().parent().children('.form-product-qty')
                        .children('input#quantity').val();
                    lessProduct.taille = $(this).parent().parent().children('.form-product-taille')
                        .children('select.custom-select').val();
                    $.ajax({
                        url: '{{ path('package') }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'lessProduct': lessProduct},
                        success: function (data) {
                            let lessPdtId = data['lessPdtId'];
                            $('.idpdt-' + lessPdtId + '').html('');
                        }
                    })
                }
            });
        });
    </script>

{% endblock %}