{% extends 'base.html.twig' %}

{% block body %}

    <div class="container container-bloc-home">

        <div class="package-front">


            <h1>Il est temps de préparer votre paquetage</h1>


            <div id="accordion" role="tablist" aria-multiselectable="true">

                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                               aria-expanded="false" aria-controls="collapseTwo">
                                Pantalons
                            </a>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libellé</th>
                                    <th>Taille</th>
                                    <th>Quantité</th>
                                    <th>OK</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for produit in produits %}
                                    {% if produit.category.name == 'Pantalon' %}

                                        <tr>
                                            <th scope="row">1</th>
                                            <td class="form-product" data-productid="{{ produit.id }}">
                                                {{ produit.name }}</td>
                                            <td class="form-product-taille">
                                                <select class="custom-select">
                                                    {#<option>tailles</option>#}
                                                    {% for taille in produit.tailles %}
                                                        <option class="form-product-taille-option"
                                                                value="{{ taille.id }}">{{ taille.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="form-product-qty">
                                                <input type="number" class="form-product-qty-value form-group" id="quantity">
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="form-product-check" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">Check this
                                                        custom checkbox</label>
                                                </div>
                                            </td>
                                        </tr>

                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    $(function () {
       var addProduct = {
           idPdt: null,
           taille: null,
           qty: null
       };
       var cart = [];
       $(".form-product-check").change(function () {
           var isChecked = $(this).is(":checked");
           if (isChecked) {
               // console.log($(this).parent().parent().parent().children('td.form-product').data('productid'));
               addProduct.idPdt = $(this).parent().parent().parent().children('td.form-product').data('productid');
               addProduct.qty = $(this).parent().parent().parent().children('td.form-product-qty')
                   .children('input#quantity').val();
               addProduct.taille = $(this).parent().parent().parent().children('td.form-product-taille')
                   .children('select.custom-select').val();
               console.log(addProduct);
               cart.push(addProduct);
               console.log(cart);
           }
       })
    });

</script>

{% endblock %}